.status {
    margin-bottom: 15px;
}

.square {
    background-color: #fff;
    width: 34px;
    height: 34px;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    border: 1px solid #999;
    outline: 0;
    display: inline-block;
    vertical-align: top;
}
